<div class="dm" style="display: none;">
    <!--d_screen start-->
        <div class="d_screen">
            <div class="d_mask"></div>
            <div class="d_show">
                <div>duang!</div>
                <div>世界那么大，我想去看看</div>
                <div>We are伐木累</div>
                <div>若是感觉有实力跟我玩，良辰不介意奉陪到底。</div>
                <div>你们城里人真会玩</div>
                <div>然而并没有什么卵用</div>
                <div>这比5毛钱的特技好多了</div>
                <div>怪我喽</div>
                <div>66666666666</div>
                <div>走你</div>
                <div>我要将牛头交给国家</div>
                <div>爆发吧，小宇宙</div>
                <div>你只需要记住，我叫叶良辰。</div>
                <div>我也是醉了</div>
                <div>我会让你们明白，良辰从不说空话。</div>
                <div>真是够了</div>
                <div>地球有危险</div>
                <div><img src="/img/qq1.gif"/></div>
            </div>
        </div>
</div>
<%- js('js/dm')%>